/* ---Universal tag--- */

*{
    padding:0px;
    margin:0px;

}
 
.dashboard{
    background-image:url("https://www.thespruce.com/thmb/2pj3L1oJgmif6M0s-F16-F3NsIM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/02-Rustic-Canyon-Residence-6141992a7e814521a36ecc29c9e7f730.jpg");
    opacity: 0.6;

}

.nav-bar{
    background-color:rgba(140, 130, 130, 0.1);
    color:rgb(0,0,128);
    width:100vw;
    height:80px;
    position:sticky;
    cursor: pointer;
    z-index: 1;
}

.logo{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:rgba(140, 130, 130, 0.1);
     width:100vw;
    height:80px;
}


.p-list{
    list-style-type: none;
    position:absolute;
    background-color: antiquewhite;
    right:20px;
    padding:0px;
    display:none;
    opacity: 0.8;

    
}
.p-list >li {
    padding:0px 10px;
    z-index: index 2200; 
    line-height: 30px;
    opacity: 0.8;

    
}


.profile-section > span:hover .p-list{
    display:block;
}

.list-group-item > a{
    opacity: 0.8;
    text-decoration: none;

}
.table-data{
    padding-top:  20px !important;
    opacity: 0.8;
}

  